grand-project/ai-pitch-writer-workflow.json
{
  "name": "ai-pitch-writer-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-pitch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "69b087fc-54de-488c-85bf-105e02da303b",
      "name": "Webhook",
      "webhookId": "d3a2f722-5e0b-470f-80c7-86815a11ec43"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d05c458-3561-44ce-9c21-373d2306f7b7",
              "name": "=prompt",
              "value": "=`You are an expert pitch writer.  Write a compelling pitch for the following idea:  Idea: {{ $json.body.idea_description }} Tone: {{ $json.body.tone }}  The pitch should be 5-7 sentences long, persuasive, and suitable for a startup/product demo. Avoid buzzwords and focus on clarity, benefits, and value proposition.`",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "e30c45a8-eb78-4984-a961-1978083002be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent?key=",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    contents: [\n      {\n        parts: [\n          {\n            text: $json.prompt\n          }\n        ]\n      }\n    ]\n  }) \n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "e38192ce-c713-492e-af90-cd7fe0f278e6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  idea: $node[\"Webhook\"].json[\"body\"][\"idea_description\"],\n  tone: $node[\"Webhook\"].json[\"body\"][\"tone\"],\n  pitch: $json.candidates[0].content.parts[0].text\n}) }}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        0
      ],
      "id": "481fe040-c0e4-4ff9-891d-90584a3c02c1",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "330b65df-2dc3-4a2c-8432-cac5c6991963",
  "meta": {
    "instanceId": "17cce10b92665703c63436721130d1c1c48cc65b2b6fd060db6b07a43ed6a967"
  },
  "id": "0HKd4H2yzLdVwhKE",
  "tags": []
}
